<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<a href="/category">Category page</a> <br>
<a href="/book">Book page</a> <br>
<a href="/member">Member page</a> <br>

<span th:if="${userName} != null"> Welcome <span th:text="${userName}"></span></span><br>
<a th:if="${userName}  != null" href="/logout">Logout</a> <br><br>
<a th:if="${userName}  == null" href="/login">Login</a> <br><br>

</body>
</html>